.navigation {
  z-index: 9999;
  background-color: $headerBackgroundColor;
  position: relative;
  height: 75px;
  margin-bottom: 20px;
  border: 1px solid #000;

  .navigation-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: $contentWidth;
    display: flex;
    flex-wrap: nowrap;

    .logo {
      float: left;
      padding: 27px;
      @include headingStyle();
      font-size: 30px;
      line-height: 20px;
      flex-shrink: 0;

      &:hover {
        color: #fff;
      }
    }

    .menu {
      float: left;
      margin: 0;
      padding: 0;
      width: 100%;

      .menu-item {
        float: left;
        padding: 27px 15px;
        line-height: 20px;

        a {
          color: #fff;

          &:hover {
            color: #9d9d9d;
          }
        }

        &:last-child {
          float: right;
        }
      }
    }
  }
}
